<!DOCTYPE html>
<html lang="en">
<head>
  <title>Covid Trends</title>

  <script src="libraries/plotly.min.js"></script>
  <script src="libraries/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body>

  <div id="root">

    <div id="header">
      <div id="explainer">

        <p>This interactive graph charts the trajectory of global COVID-19  {{selectedData.toLowerCase().split(' ').slice(-1)[0]}}. <a v-if="isHidden" @click="toggleHide">Learn more.</a></p>

        <div id="words" v-if="!isHidden">

          <p>The graph plots the number of <b><i>new</i></b> {{selectedData.toLowerCase()}} in the past week, versus the <b><i>total</i></b> number of {{selectedData.toLowerCase()}}.</p>

          <p>When plotted in this way, exponential growth is displayed as a straight line. (And the slope of this line represents the growth rate.)</p>

          <p>Notice that most countries follow a similar straight line path, indicating that the growth rate is similar across countries. <i>We're all in this together.</i></p>

          <p><b>Tips:</b> Press Space (or the play button) to Play/Pause. Press +/- keys (or the slider) to see daily changes. Hover over the graph for more info. Drag cursor to zoom into graph, doubleclick to zoom back out. Use dropdown menus to switch between Confirmed Cases &harr; Deaths, or between a logarithmic &harr; linear scale. And don't forget to wash your hands!</p>

        </div>

      </div>
      <span v-if="!isHidden" id="hide"><a @click="toggleHide">Hide</a></span>

    </div>

    <div id="content">

      <div id="left-column">

        <graph v-if="covidData.length > 0" :data="filteredCovidData" :dates="dates" :day.sync="day" :selected-data="selectedData" :scale="selectedScale" :resize="isHidden" @graph-mounted="play"></graph>

        <div id="nav">

          <div class="navelement">
            <img @click="play" :src="this.icon" style="width: 3rem;">
          </div>

          <div class="navelement">
            <h2>{{dates[day - 1]}}</h2>
          </div>

          <div class="navelement" id="slidercontainer">
            <input v-if="dates.length > 8" type="range" min="8" :max="dates.length" step="1" v-model="day" id="slider" @mousedown="pause"></input>
          </div>

          <div class="navelement">
            <select v-model="selectedScale" @mousedown="pause">
              <option v-for="s in scale" v-bind:value="s">
                {{ s }}
              </option>
            </select>
          </div>

        </div>


        <div id="footer">
          Created by <a href="https://aatishb.com/">Aatish Bhatia</a> in collaboration with <a href="https://www.youtube.com/user/minutephysics">Minute Physics</a> &middot; Data provided by <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins University</a> &middot; Shortcuts: +/- for daily changes, space to play/pause &middot; <a href="https://github.com/aatishb/covidtrends#credits">Credits & Source</a> &middot; <a href="https://www.cdc.gov/coronavirus/2019-ncov/prepare/prevention.html">Stay safe!</a>
        </div>

      </div>

      <div id="right-column">
        <h2>Countries</h2>
        <p>Countries with at least {{minCasesInCountry}}
          <select v-model="selectedData" @mousedown="pause">
            <option v-for="d in whichData" v-bind:value="d">
              {{ d }}
            </option>
          </select>
        </p>

        <ul style="padding-top: 0.5rem;">
          <li v-for="country in countries">
            <input type="checkbox" :id="country" :value="country" v-model="selectedCountries">
            <label :for="country">{{country}}</label>
          </li>
        </ul>
        <button @click="selectAll">Select All</button>
        <button @click="deselectAll">Deselect All</button>
      </div>


    </div>



  </div>

  <!-- page code -->
  <script src="vue-definitions.js"></script>

</body>
</html>