<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Covid Trends</title>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css?1">
  <script src="libraries/plotly-basic.min.js"></script>
  <script src="libraries/vue.min.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Covid Trends">
  <meta name="twitter:description" content="Visualizing the exponential growth of COVID-19 across the world.">
  <meta name="twitter:site" content="@aatishb">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="https://aatishb.com/covidtrends/logos/covid-trends-logo-nowords.png">
  <!-- Open Graph data -->
  <meta property="og:title" content="Covid Trends" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://aatishb.com/covidtrends/" />
  <meta property="og:image" content="https://aatishb.com/covidtrends/logos/covid-trends-logo-nowords.png" />
  <meta property="og:description" content="Visualizing the exponential growth of COVID-19 across the world." />
</head>
<body>

  <div id="root">

    <header>

        <div class="explainer">
          <p>This interactive charts the <b><i>new</i></b> {{selectedData.toLowerCase()}} of COVID-19 in the past week vs. the <b><i>total</i></b> {{selectedData.toLowerCase()}} to date. When plotted in this way, exponential growth is represented as a straight line that slopes upwards. Notice that almost all countries follow a very similar path of exponential growth. <i>We're all in this together.</i> <span v-if="isHidden"><a @click="toggleHide">Learn more.</a></span></p>

          <span v-if="!isHidden">

            <p>To learn more about this graph, watch this video created by Minute Physics.</p>
            <br>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/54XLXg4fYsc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p><i><b>Note:</b> The x-axis of this graph is not time</i>, but is instead the total number of cases or deaths.</p>

            <p><b>Tips:</b> Press Space (or the play button) to Play/Pause. Press +/- keys (or drag the slider) to see daily changes. Hover over the graph for more info. Drag your mouse to zoom in, doubleclick to zoom back out. And don't forget to wash your hands!</p>

            <a id="hide" @click="toggleHide">Hide</a>
          </span>
        </div>

        <div class="logowrapper">

          <h1><a href="https://aatishb.com/covidtrends">Covid Trends</a></h1>

          <div v-if="!isHidden" class="logos">
            <a href="https://aatishb.com/" aria-label="Visit the website of Aatish Bhatia"><img src="logos/aatishb-bw.png" height="40" alt="Avatar of Aatish Bhatia"></a>
            <a href="https://www.youtube.com/user/minutephysics" aria-label="Visit the Youtube channel of Minute Physics"><img src="logos/minutephysics-invert.png" height="40" alt="Minute Physics Logo"></a>
          </div>

        </div>

    </header>

    <div class="ctapp">

      <main id="main">

        <graph v-if="covidData.length > 0" :graph-data="graphData" :day="day" :resize="isHidden" @graph-mounted="graphMounted = true"></graph>

        <div v-if="covidData.length > 0" class="nav">

          <div class="navelement">
            <img v-if="paused" @click="play" src="icons/play.svg" alt="Play" style="width: 3rem;">
            <img v-if="!paused" @click="play" src="icons/pause.svg" alt="Pause" style="width: 3rem;">
          </div>

          <div class="navelement">
            <time class="h2" :datetime="formatDate(minDay > 0 ? dates[day - 1] : dates[dates.length - 1])">{{ formatDate(minDay > 0 ? dates[day - 1] : dates[dates.length - 1]) }}</time>
          </div>

          <div class="navelement slidercontainer">
            <input v-if="dates.length > 7" type="range" :min="minDay > 0 ? minDay : dates.length" :max="dates.length" step="1" v-model="day" class="slider" @mousedown="pause" aria-label="Choose the current observation day">
          </div>

          <div class="navelement">
            <select v-model="selectedScale" @mousedown="pause" aria-Label="Select Data Set">
              <option v-for="s in scale" v-bind:value="s">
                {{ s }}
              </option>
            </select>
          </div>

        </div>

        <div v-if="!firstLoad && covidData.length == 0" class="nodata"><span>Not enough data for these parameters.</span></div>

        <footer>
          Created by <a href="https://aatishb.com/">Aatish Bhatia</a> in collaboration with <a href="https://www.youtube.com/user/minutephysics">Minute Physics</a> &middot; World data provided by <a href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins University</a> (updated daily around 00:00 UTC / 20:00 ET) &middot; US state data provided by <a href="https://github.com/nytimes/covid-19-data">NYTimes</a> (updated daily around 16:00 UTC / 12:00 ET)&middot; Shortcuts: +/- for daily changes, space to play/pause &middot; <a href="https://github.com/aatishb/covidtrends#credits">Credits & Source</a> &middot; <a href="https://www.cdc.gov/coronavirus/2019-ncov/prepare/prevention.html">Stay safe!</a>
        </footer>

      </main>

      <aside>

        <div>
          <h2>Customize</h2>
          <label for="selectedData">Select Data Set</label>
          <select id="selectedData" v-model="selectedData" @mousedown="pause">
            <option v-for="d in dataTypes" v-bind:value="d">
              {{ d }}
            </option>
          </select>
          <label for="selectedRegion">Select Region</label>
          <select id="selectedRegion" v-model="selectedRegion" @mousedown="pause">
            <option v-for="s in regions" v-bind:value="s">
              {{ s }}
            </option>
          </select>
          <label for="selectedScale">Select Scale</label>
          <select id="selectedScale" v-model="selectedScale" @mousedown="pause">
            <option v-for="s in scale" v-bind:value="s">
              {{ s }}
            </option>
          </select>
          <input type="checkbox" style="margin-top: 0.75rem;" id="showLabels" v-model="showLabels">
          <label for="showLabels">Show labels</label>

        </div>

        <div class="countries">

          <h2>{{regionType}}</h2>

          <p>{{regionType}} with at least {{minCasesInCountry}} {{selectedData}}</p>

          <label for="searchField">Search country to display</label>
          <div class="search">
            <input id="searchField" v-model="searchField">
          </div>

          <div class="buttonwrapper">
            <button @click="deselectAll">Deselect All</button>
            <button @click="selectAll">Select All</button>
          </div>

          <ul style="padding-top: 0.5rem;">
            <li v-for="country in visibleCountries">
              <input type="checkbox" :id="country" :value="country" v-model="selectedCountries">
              <label :for="country">{{country}}</label>
            </li>
          </ul>

        </div>

        <div>

          <div class="buttonwrapper">
            <button @click="createURL" @mousedown="pause">{{copied ? 'Link Copied to Clipboard!' : 'Create Shareable Link'}}</button>
          </div>

        </div>

      </aside>

    </div>

  </div>

  <!-- page code -->
  <script src="vue-definitions.js?2"></script>

</body>

</html>
