html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size:1.2em;
  line-height: 1.5;
  font-weight: 400;
  color: '#444';
}


h1 {
  margin:0px; /* was 20 px */
  text-align:center;
  font-weight:100;
  font-size:3rem;
}

h2 {
  margin:0px;
  font-weight:700;
  font-size: 1.8rem;
  margin-bottom:1rem;
}

h3 {
  text-align:center;
  font-weight:400;
  font-size:1.2rem;
}

h1, h2, h3 {
  line-height: 1.1;
}

p {
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#title {
  flex: 1;
}


#header {
  padding: 1rem;
  color: white;
  background-color: #30475e;
}

#content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: auto;
}

#content h2 {
  color: #fe346e;
}

#left-column {
  flex: 6;
  display: flex;
  flex-direction: column;
}

#right-column {
  flex: 1;
  background-color: #fcf8e8;
  padding: 1rem;
  min-height: min-content;
  min-width: 10rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#right-column > h2 {
  text-align: center;
}

#footer {
  font-size: 0.75em;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

#nav {
  display: flex;
  flex-direction: row;
}

.navelement {
  padding: 1rem;
  text-align: center;
  margin: auto;
}

.navelement > h2 {
  margin-bottom: 0;
  margin: auto;
}

#slidercontainer {
  flex-grow: 1;
}

#slider {
  width: 100%;
  min-width: 200px;
}

button {
  font-size: 1rem;
}

.navelement > button {
  font-size: 1.25rem;
}
